{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container text-center">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">Fazer Login</h1>
            <div class="form-group">
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <div class="checkbox mb-3">
                <p>Ainda não tem uma conta?</p>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('customer_signup_page') }}">Cadastrar</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <div class="checkbox mb-3">
                <a class="btn btn-sm btn-secondary" href="#">Logar como funcionário</a>
            </div>
        </form>
    </div>
{% endblock %}